    Read the following data set:
    https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
    Rename the columns as per the description from this file:
    https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

            Task:
    Create a sql db from adult dataset and name it sqladb
    
    1. Select 10 records from the adult sqladb

In [1]:
import pandas as pd
import sqlite3

In [2]:
adultDf = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
ColumnNames= ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','(>50K,<=50K)']
adultDf.columns = ColumnNames

In [12]:
conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")

In [14]:
print(pd.read_sql_query("SELECT * FROM Adults LIMIT 10;", conn))

conn.close()

   index  age          workclass  fnlwgt      education  education-num  \
0      0   50   Self-emp-not-inc   83311      Bachelors             13
1      1   38            Private  215646        HS-grad              9
2      2   53            Private  234721           11th              7
3      3   28            Private  338409      Bachelors             13
4      4   37            Private  284582        Masters             14
5      5   49            Private  160187            9th              5
6      6   52   Self-emp-not-inc  209642        HS-grad              9
7      7   31            Private   45781        Masters             14
8      8   42            Private  159449      Bachelors             13
9      9   37            Private  280464   Some-college             10

           marital-status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
5   Married-spouse-absent       Other-service   Not-in-family   Black
6      Married-civ-spouse     Exec-managerial         Husband   White
7           Never-married      Prof-specialty   Not-in-family   White
8      Married-civ-spouse     Exec-managerial         Husband   White
9      Married-civ-spouse     Exec-managerial         Husband   Black

       sex  capital-gain  capital-loss  hours-per-week  native-country  \
0     Male             0             0              13   United-States
1     Male             0             0              40   United-States
2     Male             0             0              40   United-States
3   Female             0             0              40            Cuba
4   Female             0             0              40   United-States
5   Female             0             0              16         Jamaica
6     Male             0             0              45   United-States
7   Female         14084             0              50   United-States
8     Male          5178             0              40   United-States
9     Male             0             0              80   United-States

  (>50K,<=50K)
0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6         >50K
7         >50K
8         >50K
9         >50K

    2. Show me the average hours per week of all men who are working in private sector

In [17]:
import re


adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]
 

conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")

# To Show Average Hours per week for people working in private sector 

print("\n Average hours per week by men working in private working class are :\n",'-'*80)

sqlQuery = " SELECT round(avg(hoursperweek),2) as  AvgHoursPerWeek  , workclass FROM Adults GROUP BY workclass HAVING workclass LIKE '%Private%' AND sex like '%Male%';"


print(pd.read_sql_query(sqlQuery, conn))
conn.close()

 Average hours per week by men working in private working class are :
 --------------------------------------------------------------------------------
   AvgHoursPerWeek workclass
0            40.27   Private

    3. To Show frequency Table for Education , Occupation and relationship separately

In [18]:
adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]

conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")

print('-'*80,"\nThe Frequency of people based on the Education is :\n",'-'*80)

sqlQuery = " SELECT COUNT(education)  as Frequency , education FROM Adults GROUP BY education  ;"

print(pd.read_sql_query(sqlQuery, conn))

# To Show frequency Table based on Ocupation

print('-'*80,"\nThe Frequency of people based on the Occupation is :\n",'-'*80)
sqlQuery = " SELECT COUNT(occupation)  as Frequency , occupation FROM Adults GROUP BY occupation  ;"
#print(sqlQuery)

print(pd.read_sql_query(sqlQuery, conn))


# To Show frequency Table based on Relationship

print('-'*80,"\nThe Frequency of people based on the RelationShip is :\n",'-'*80)
sqlQuery = " SELECT COUNT(relationship)  as Frequency , relationship FROM Adults GROUP BY relationship  ;"
#print(sqlQuery)

print(pd.read_sql_query(sqlQuery, conn))

conn.close()

--------------------------------------------------------------------------------
The Frequency of people based on the Education is :
 --------------------------------------------------------------------------------
    Frequency      education
0         933           10th
1        1175           11th
2         433           12th
3         168        1st-4th
4         333        5th-6th
5         646        7th-8th
6         514            9th
7        1067     Assoc-acdm
8        1382      Assoc-voc
9        5354      Bachelors
10        413      Doctorate
11      10501        HS-grad
12       1723        Masters
13         51      Preschool
14        576    Prof-school
15       7291   Some-college
--------------------------------------------------------------------------------
The Frequency of people based on the Occupation is :
 --------------------------------------------------------------------------------
    Frequency          occupation
0        1843                   ?
1        3769        Adm-clerical
2           9        Armed-Forces
3        4099        Craft-repair
4        4066     Exec-managerial
5         994     Farming-fishing
6        1370   Handlers-cleaners
7        2002   Machine-op-inspct
8        3295       Other-service
9         149     Priv-house-serv
10       4140      Prof-specialty
11        649     Protective-serv
12       3650               Sales
13        928        Tech-support
14       1597    Transport-moving
--------------------------------------------------------------------------------
The Frequency of people based on the RelationShip is :
 --------------------------------------------------------------------------------
   Frequency     relationship
0      13193          Husband
1       8304    Not-in-family
2        981   Other-relative
3       5068        Own-child
4       3446        Unmarried
5       1568             Wife

    4. Are there any people who are married, working in private sector and having a masters degree

In [19]:
adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]
conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")
sqlQuery = " SELECT Count(*) FROM Adults WHERE education like '%Masters%' AND workclass like '%Private%' AND maritalstatus in "
sqlQuery += " (select distinct maritalstatus from Adults WHERE maritalstatus like '%Married-%' ) ;"
#print(sqlQuery)
print('-'*80,"\n Following nos. of Married people having masters degree and working in private sector :\n",'-'*80)
print(pd.read_sql_query(sqlQuery, conn))
conn.close()

--------------------------------------------------------------------------------
 Following nos. of Married people having masters degree and working in private sector :
 --------------------------------------------------------------------------------
   Count(*)
0       540

    5. What is the average, minimum and maximum age group for people working in different sectors

In [20]:
adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]
conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")
print('-'*80,"\n Following is minimum , average , maximum age of people working for different sectors :\n",'-'*80)
sqlQuery = " SELECT workclass , min(age), avg(age), max(age) FROM Adults GROUP BY workclass ;"
print(pd.read_sql_query(sqlQuery, conn))
conn.close()

--------------------------------------------------------------------------------
 Following is minimum , average , maximum age of people working for different sectors :
 --------------------------------------------------------------------------------
           workclass  min(age)   avg(age)  max(age)
0                  ?        17  40.960240        90
1        Federal-gov        17  42.590625        90
2          Local-gov        17  41.751075        90
3       Never-worked        17  20.571429        30
4            Private        17  36.797585        90
5       Self-emp-inc        17  46.017025        84
6   Self-emp-not-inc        17  44.969697        90
7          State-gov        17  39.436392        81
8        Without-pay        19  47.785714        72

    6. Calculate age distribution by country

In [21]:
adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]
conn = sqlite3.connect("sqladb.db")
adultDf.to_sql("Adults",conn, if_exists="replace")
print('-'*80,"\n Following shows the age distribution by each country :\n",'-'*80)
sqlQuery = " SELECT nativecountry , age , count(*) FROM Adults GROUP BY age ,nativecountry ORDER BY nativecountry ;"
print(pd.read_sql_query(sqlQuery, conn))
conn.close()

--------------------------------------------------------------------------------
 Following shows the age distribution by each country :
 --------------------------------------------------------------------------------
     nativecountry  age  count(*)
0                ?   17         2
1                ?   18         8
2                ?   19         5
3                ?   20        10
4                ?   21        11
5                ?   22        12
6                ?   23         6
7                ?   24        14
8                ?   25        11
9                ?   26        18
10               ?   27        15
11               ?   28        19
12               ?   29        12
13               ?   30        19
14               ?   31        18
15               ?   32        17
16               ?   33        13
17               ?   34        24
18               ?   35        18
19               ?   36        23
20               ?   37        22
21               ?   38        20
22               ?   39        19
23               ?   40        12
24               ?   41        22
25               ?   42        24
26               ?   43        14
27               ?   44        10
28               ?   45        17
29               ?   46        15
...            ...  ...       ...
1251       Vietnam   37         2
1252       Vietnam   38         1
1253       Vietnam   40         1
1254       Vietnam   41         1
1255       Vietnam   43         2
1256       Vietnam   44         3
1257       Vietnam   45         3
1258       Vietnam   46         1
1259       Vietnam   48         1
1260       Vietnam   50         1
1261       Vietnam   51         1
1262       Vietnam   52         1
1263       Vietnam   53         1
1264       Vietnam   54         1
1265       Vietnam   63         1
1266       Vietnam   70         1
1267       Vietnam   73         2
1268    Yugoslavia   20         1
1269    Yugoslavia   22         1
1270    Yugoslavia   25         1
1271    Yugoslavia   29         1
1272    Yugoslavia   31         1
1273    Yugoslavia   35         2
1274    Yugoslavia   36         1
1275    Yugoslavia   40         1
1276    Yugoslavia   41         2
1277    Yugoslavia   43         1
1278    Yugoslavia   45         1
1279    Yugoslavia   56         2
1280    Yugoslavia   66         1

[1281 rows x 3 columns]

    7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [23]:
adultDf.columns = [re.sub("[- ]", "", col) for col in adultDf.columns]
adultDf['Net-Capital-Gain'] = adultDf['capitalgain'] - adultDf['capitalloss']
print('-'*80,"\n The Adult Data Frame with the additional column of Net Capital gains \n",'-'*80)
adultDf

--------------------------------------------------------------------------------
 The Adult Data Frame with the additional column of Net Capital gains
 --------------------------------------------------------------------------------

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,"(>50K,<=50K)",NetCapitalGain,Net-Capital-Gain
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0,0
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0,0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0,0
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0,0
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0,0
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084,14084
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178,5178
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0,0
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,0,0
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0,0
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0,0
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,0,0
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0,0
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0,0
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0,0
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0,0
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,0,0
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0,0
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0,0
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0,0
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,-2042,-2042
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0,0
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,0,0
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0,0
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,0,0
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0,0
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0,0
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,0,0
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0,0
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,0,0
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,0,0
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0,0
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,0,0
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0,0
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,15020,15020
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,0,0
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0,0
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,0,0
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,0,0
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,0,0
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,0,0
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,0,0
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,0,0
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,0,0
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,1086,1086
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,0,0
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,0,0
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,0,0
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,0,0
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,0,0
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,0,0
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0,0
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0,0
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0,0
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0,0
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0,0
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,15024,15024